/* Mengatur font family untuk seluruh elemen di halaman */
* {
  font-family: "Play", sans-serif;
}

/* Mengatur tampilan container kalkulator */
.container {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 80px);
  grid-template-rows: minmax(60px, auto) repeat(5, 60px);
  min-height: 100vh;
  margin: 10px 0;
}

/* Mengatur tampilan tombol */
button {
  cursor: pointer;
  outline: none;
  font-size: 12px;
  background-color: rgb(255, 185, 45);
  border: none;
  margin: 4px;
  border-radius: 8px;
}

/* Mengatur tampilan tombol hasil perhitungan */
.result {
  grid-column: span 2; /* Ini membuat tombol "=" menempati 2 kolom */
  background-color: #ffb92d;
}

/* Mengatur tampilan tombol saat dihover (melayang) */
button:hover {
  background-color: rgb(199, 142, 29);
  color: white;
}

/* Mengatur tampilan layar kalkulator */
.output {
  grid-column: 1 / -1;
  background-color: #333;
  border-radius: 20px 20px 0 0;
  word-wrap: break-word;
  word-break: break-all;
  -ms-word-break: break-all;
  -ms-word-wrap: break-word;
  padding: 20px;
}

/* Mengatur tampilan judul kalkulator */
.output .title {
  font-weight: 700;
}

/* Mengatur tampilan output di atas layar */
.overoutput {
  background-color: #3f3f3f;
  padding-right: 10px;
  padding: 10px;
  text-align: end;
  font-size: 20px;
  color: rgb(255, 185, 45);
  min-height: 25px;
  border-radius: 8px;
}

/* Mengatur tampilan output sementara di bawah layar */
.tempoutput {
  background-color: #333;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  min-height: 25px;
}

/* Mengatur tampilan output utama di bawah layar */
.underoutput {
  padding: 20px;
  text-align: end;
  font-size: 30px;
  color: white;
  min-height: 50px;
  font-weight: 700;
}

/* Mengatur tampilan judul kalkulator */
.title {
  text-align: center;
  height: 40px;
  padding-top: 10px;
  font-size: 25px;
  color: white;
}
