body {
  margin: 0;
  font-family: "Play", sans-serif;
}

.jumbotron {
  background-color: #191c26;
  display: flex;
  justify-content: space-around;
  padding: 100px;
}

.jumbotron img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #c99d3e;
  padding: 8px;
}

.jumbotron #header-text {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}

.jumbotron #header-text h1 span {
  color: #c99d3e;
}

.jumbotron #header-text h3 {
  font-weight: 400;
  margin-top: -20px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(25, 28, 38, 0.28);
  backdrop-filter: blur(9.1px);
  -webkit-backdrop-filter: blur(9.1px);
  padding: 12px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav a {
  color: #c99d3e;
  padding: 8px 20px;
  font-weight: 700;
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  padding: 8px 20px;
  color: white;
  font-weight: 400;
}

a:hover {
  color: #c99d3e;
}

.tentang {
  margin: 20px;
  background-color: #e6eef5;
  padding: 20px 40px 40px 40px;
  border-radius: 16px;
  text-align: center;
}

#video-saya {
  margin: 20px 0;
}

#video-saya video {
  border-radius: 16px;
}

.pengalaman {
  margin: 20px;
  background-color: #e6eef5;
  padding: 20px 40px 40px 40px;
  border-radius: 16px;
}

.pengalaman h2 {
  text-align: center;
}

.tabel {
  display: flex;
  justify-content: center;
}

.tabel table {
  width: 100%;
  border: 0;
}

.tabel table th {
  background-color: #c99d3e;
  padding: 8px 20px;
  border-radius: 4px;
  border: 0;
}

.tabel table tr {
  background-color: #ccdbe6;
}

.tabel table td {
  padding: 8px 20px;
  border-radius: 4px;
  border: 0;
}

.hubungi {
  margin: 20px;
  background-color: #e6eef5;
  padding: 20px;
  border-radius: 16px;
}

.hubungi h2 {
  text-align: center;
}
